h1:hover {
    color:blueviolet;
}

h3{
    color: white;
}

#welcome {
    font-style: oblique;
    font-weight: bold;
}

td:hover {
    font-size: large;
}

p#welcome::first-letter{
    font-size: large;
    color:lightyellow;
}

body{
    background-color: black;
    color: lightgreen;
    font-family:'Courier New', Courier, monospace;
    padding: 5cm;
    margin: 0cm;
}